body{
    background-color: #deec0f;
    margin: 20px;
    font-family: 'Arial';
}
#titlu{
    text-align: center;
    color: #ff00dd;
}
#subtitlu{
    border-bottom: 2px solid #000000;
}
img-profil{
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
