<body>
{background-color: rgb(158, 190, 221);
margin:20px;
font-family: 'Times New Roman', Times, serif;
}
#titlu {text-align:center;
color: rgb(0, 0, 0);
}
.subtitlu
{border-bottom: 2px solid #a58888;
}

.ing-profil {
    height:200px
    width: 200px
    display: block;
    margin: 0 auto;
    border-radius:50%;
}
