<body>
{background-color: rgb(0, 128, 255);
margin:20px;
font-family: 'Times New Roman', Times, serif;
}
#titlu {text-align:center;
color: rgb(255, 1, 1);
}
.subtitlu
{border-bottom: 2px solid #000000;
}

.ing-profil {
    height:200px
    width: 200px
    display: block;
    margin:  auto;
    border-radius:50%;
}